.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user button{
    background: midnightblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.pageSelected{
    font-weight: bold;
}

.show{
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 24px;
}