.friends{
    grid-area: friends;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 80px 80px 1fr;
    grid-template-areas: 'friendTitle friendTitle friendTitle';
    color: white;
    border-top: #712b2b solid;
    padding-top: 20px;
}